html, body { 
	width: 100%;
	height: 100%;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1800px;
	-moz-perspective: 1800px;
	perspective: 1800px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

.pt-page-1 {
	background: url("../images/dashBackGnd.png");
}

.pt-page-2 {
	background: url("../images/dashBackGnd.png");
}

.pt-page-3 {
	background: url("../images/dashBackGnd.png");
}

.pt-page-4 {
	background: url("../images/dashBackGnd.png");
}

.pt-page-5 {
	background: url("../images/dashBackGnd.png");
}

.pt-page-6 {
	background: url("../images/dashBackGnd.png");
}

/* Triggers (menu and button) */

.pt-triggers {

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 50%;
	
	 z-index: 999;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}

.no-js .pt-triggers {
	display: none;
}

.pt-touch-button-left, .pt-touch-button-right {

	width: 90px;
	height: 350px;

	border: none;
	margin: 10px 0 20px;
	padding: 0px 20px;

	line-height: 50px;
	cursor: pointer;
	display: block;
	font-family: Calibri, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	
}

.pt-touch-button-left {
	position: absolute;
	top: 40px;
	left: 0%;
	background: url("../images/leftarrow.png");
	background-repeat: no-repeat;
	background-position: center;
	color: #CCCCCC;
}

.pt-touch-button-right {
	position: absolute;
	top: 40px;
	right: 0%;
	background: url("../images/rightarrow.png");
	background-repeat: no-repeat;
	background-position: center;
	color: #CCCCCC;
}


.pt-touch-button-left:active , .pt-touch-button-right:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.pt-touch-button-f1, .pt-touch-button-f2, .pt-touch-button-f3, .pt-touch-button-f4, .pt-touch-button-f5, .pt-touch-button-f6 {

	width: 107px;
	height: 60px;

	border: 0px solid #808080;
	
	margin: 0px 0 0px;
	padding: 0px 0px;

	cursor: pointer;
	display: inline;
	font-family: Calibri, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: transparent;
	
}

.pt-touch-button-f1:active, .pt-touch-button-f2:active, .pt-touch-button-f3:active, .pt-touch-button-f4:active, .pt-touch-button-f5:active {

	border: 4px solid #D0D000;

}

.pt-triggers .dl-menuwrapper button {
	margin-bottom: 10px;
}


.touch .pt-triggers .dl-menuwrapper {
	display: none;
}

.pt-message {
	display: none;
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #da475c;
	color: #fff;
	text-align: center;
}

.pt-message p {
	margin: 0;
	line-height: 60px;
	font-size: 26px;
}

.no-cssanimations .pt-message {
	display: block;
}

.pt-table {
	width: 94%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-left: 20px;
	padding-right: 20px;

}

.pt-table-label {
	color: black;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	background-color: #CCC;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-align: center;
	border:1px solid #808080;

}

.pt-table-canvas {
	text-align: center;
}

.pt-footer {
	width: 100%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 25px 5px 5px;
	background: url("../images/footerBackGnd.png");
    position: absolute;
    bottom: 0px;
}

.pt-footer-button {
	
/*	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;  */
	text-indent:0;
	border:0px solid #808080;
	display: inline;
	
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 2px #000000;
	color: #FFFFFF;
	
	height:60px;
	line-height:60px;
	width:107px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: url("../images/buttFootMid.png");
}


.pt-page h2  {

	width: 100%;
	height: 3%;
	top: 0px;
	left: 0px;
	background: transparent;
	color: #8f8f8f;

    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;

	font-family: Calibri, Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;

	text-align: center;
	
}


@media screen and (max-width: 47.4375em) {
	.pt-page h1 {
		font-size: 3em;
	}

	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}

@media screen and (max-height: 45.9em) {
	.pt-triggers .dl-menuwrapper li a {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
		line-height: 24px;
	}
}

@media screen and (max-height: 38em) { 
	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}
